<div id="login-container">

  <div class="login-page">
    <h2>LOG IN</h2>


    <form action="/auth/login" method="POST" class="form">


      <input class="input-field" type="text" name="username" placeholder="Username">

      <input class="input-field" type="password" name="password" placeholder=" Password">

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <button class="signup">Login</button>

      <p class="account-message">
        Don't have an account yet? </p>

      <a href="/auth/signup" class="signup">Sign up</a>

    </form>
  </div>

</div>

{{!-- <a href="/">Landing page</a> --}}