<div id="form-container">

  <h2>LOG IN</h2>
  {{!-- <h4>..to discover all the working Cafes in Berlin</h4> --}}

  <form action="/auth/login" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Username">

    <br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder=" Password">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br>

    <button>Login</button>

    <p class="account-message">
      Don't have an account yet? </p>
    <a href="/auth/signup" class="signup">Sign up</a>

  </form>

</div>

{{!-- <a href="/">Landing page</a> --}}