<h1>{{title}}</h1>
<p class="landing-text">Welcome to {{title}}</p>
{{!-- {{#if message}}
<p>{{message}}</p>
{{/if}} --}}

<nav class="landing-nav">
  <div><a href="/auth/login">Login</a>
  </div>
  <div><a href="/auth/signup">Signup</a>
  </div>
  <div><a href="/cafes">List of Cafes</a>
  </div>
</nav>