<h1>{{title}}</h1>
<p class="landing-text">Find a working Cafe near you </p>
{{!-- {{#if message}}
<p>{{message}}</p>
{{/if}} --}}

<nav class="landing-nav">
  <div><a href="/auth/login">Login</a>
  </div>
  <div><a href="/auth/signup">Signup</a>
  </div>
<<<<<<< HEAD
  <div><a href="/cafes">List of Cafes</a>
=======
  <div><a href="/cafes"> List Of Cafes</a>
>>>>>>> auth
  </div>
</nav>