@import url("https://fonts.googleapis.com/css?family=Jomolhari&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  height: 100vh;
  margin: 0; }

.signup {
  background-color: rgba(147, 218, 240, 0.8);
  color: white;
  padding: 18px 0;
  width: 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 5px;
  border: none; }

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.signup:hover {
  background: #211a23;
  transition: 0.3s ease background; }

a:hover {
  background: #211a23;
  transition: 0.3s ease background; }

.color {
  background-color: rgba(231, 93, 120, 0.9);
  color: white;
  padding: 15px 59px 15px 59px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 5px; }

h2 {
  font-size: 40px;
  text-align: center;
  color: #211a23; }

#title {
  font-size: 80px;
  text-align: center;
  font-family: "Jomolhari", sans-serif;
  margin-bottom: 0; }

p {
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold; }

h6 {
  font-size: 18px;
  text-align: left;
  color: #211a23; }

ul {
  list-style: none;
  color: #211a23;
  background-color: rgba(190, 188, 175, 0.6);
  text-align: center; }

.page {
  display: flex;
  flex-direction: column; }

.landing-text {
  font-size: 2rem;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 0; }

h1 {
  text-align: center; }

.landing-box {
  background-image: url(/images/cafes.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

.desc {
  background-color: rgba(190, 188, 175, 0.6);
  padding: 20px;
  margin-bottom: 2%;
  width: 760px;
  text-align: center; }

.landing-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  align-items: center; }

footer {
  background: darkgray;
  color: black;
  text-align: center;
  margin-bottom: auto;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 2.3rem; }

footer p {
  font-size: 15px;
  text-align: center; }

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5%;
  margin-right: auto; }

.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-container {
  background-image: url(/images/cafes.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover; }

.header-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.logout {
  background-color: rgba(147, 218, 240, 0.8);
  color: white;
  padding: 15px 50px 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 5px;
  height: 20px; }

#login-container {
  background-image: url(/images/cafes.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.signup-container {
  background-image: url(/images/cafes.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.form {
  margin: 30px auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.input-field {
  background-color: white;
  color: white;
  padding: 18px 0;
  width: 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 5px;
  border: none; }

.add-cafe-description {
  display: none;
  background-color: white;
  color: white;
  padding: 18px 0;
  width: 800px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 5px;
  border: none; }

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

h4 {
  text-align: center;
  color: #211a23;
  font-weight: 100; }

.account-message {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: normal; }

#map {
  height: 600px;
  width: 800px;
  margin: 40px auto;
  border: 2px solid black; }

#info {
  list-style: none;
  position: relative;
  top: 0px; }

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none; }

.list {
  width: 800px;
  margin: 0 auto; }

.list-item {
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.cafe-name {
  font-weight: bold; }

@media (min-width: 321px) and (max-width: 1600px) {
  .form {
    margin: 30px auto;
    width: 50%; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  #map {
    height: 300px;
    width: 450px; }
  .desc {
    width: 450px; }
  .list {
    width: 450px; }
  body {
    font-size: 16px; } }

@media screen and (max-width: 479px) {
  #map {
    height: 500px;
    width: 300px; }
  .desc {
    width: 300px; }
  .list {
    width: 300px; }
  body {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */