@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette|Playfair+Display+SC&display=swap");

body {
  padding: 30px;
  font-size: 20px;
  background-image: url(/images/cafe.jpg);
  font-family: "Roboto", sans-serif;
}

a {
  border: 3px solid mediumaquamarine;
  background-color: mediumaquamarine;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 20px;
}
h2 {
  font-size: 50px;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h6 {
  font-size: 20px;
  text-align: left;
  color: #fff;
}

ul {
  list-style: none;
}

.landing-text {
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}
footer {
  background: #666;
  color: white;
  text-align: center;
  margin-bottom: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 5%;

  align-items: center;
}
form {
  margin: 30px auto;
  width: 380px;
}

form label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  border: 2px solid black;
}

form button {
  background: #43a3e6;
  border: 3px solid white;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding:5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
  }
