@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette|Playfair+Display+SC&display=swap");

body {
  padding-top: 30px;
  font-size: 20px;
  background-image: url(/images/cafe.jpg);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
}

a {
  border: 3px solid white;
  background-color: mediumaquamarine;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 20px;
}
a:hover {
  background: #211a23;
  transition: 0.3s ease background;
}
.color {
  border: 3px solid white;
  background-color: crimson;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  border-radius: 20px;
}
h2 {
  font-size: 50px;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Courgette", cursive;
}
p {
  font-size: 15px;
  text-align: left;
  color: #fff;
}
h6 {
  font-size: 18px;
  text-align: left;
  color: #fff;
}
ul {
  list-style: none;
  color: #fff;
}

.landing-text {
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}
footer {
  background: darkgray;
  color: black;
  text-align: center;
  margin-bottom: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  font-size: 15px;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5%;
  margin-right: auto;
}
.logout {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: flex-end;
  align-items: flex-end;
  width: 5%;
}
form {
  margin: 30px auto;
  width: 20%;
}

form label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  border: 2px solid black;
}

form button {
  background: #43a3e6;
  border: 3px solid white;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

.add-cafe-description {
  display: none;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
h4 {
  text-align: center;
  color: #fff;
  font-weight: 100;
}
.account-message {
  font-size: 20px;
  text-align: center;
}
.account-message a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50%;
  font-size: 20px;
  margin: 0 auto;
}
#map {
  height: 70%;
  width: 50%;
  margin-left: 55%;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

//here all definitions to apply globally

//desktop
@media only screen and (min-width: 1200) {
}

//tablet landscape
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  form {
    margin: 30px auto;
    width: 50%;
  }
} // end media query

//tablet portrait
@media screen and (min-width: 768px) and (max-width: 1023px) {
} //end media definition

//smartphone landscape
@media screen and (min-width: 480px) and (max-width: 767px) {
} //end media query

//smartphone portrait
@media screen /*and (min-width: 320px) */ and (max-width: 479px) {
}
